<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>LOJA PAYPAL</title>
</head>
<body>
    <div>
        
        <header class="header flex flex-center"> 
            <h1 class="titulo">
            <a href="/">LOJA PAYPAL</a>
            </h1>
       </header>
        <br/><br/> 

        <div class="flex vertical flex-center">
            <h2 class="sub-titulo cor-vermelho text-center">Que pena!</h2>
            <br>
            <p class="texto text-center">Sua compra foi cancelada</p>
        </div>
    </div>
</body>
</html>